* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(90deg, #667eea, #764ba2, #f64f59); */
}
.container {
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: x-large;

  margin-top: 20px;
  margin-bottom: 20px;
}
.favorite-icon {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
}
.item-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}
.filled {
  color: red;
}
