body {
  overflow-x: hidden;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square {
  margin-top: 10rem;
  background: #1b1b32;
  width: 10rem;
  aspect-ratio: 1/1;
}
.rect {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 250px;
  border-radius: 5px;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-size: 2rem;
  position: absolute;
}
